<link href="popup.css" rel="stylesheet" type="text/css" />
<script type="module" src="popup.js"></script>

<div class="container">
  <div>
    <div class="title">Nothing to see here :(</div>

    <div class="bookmarks" id="bookmarks"></div>
  </div>
</div>
